$color_primary: #540b0e;

$color_bg_body: #f5f5f5;
$color_bg_main: #e9e5e1;
$color_bg_messageRed: lightcoral;
$color_bg_messageGreen: green;
$color_bg_messageYellow: lightsalmon;

$color_border_messageRed: red;
$color_border_messageGreen: darkgreen;
$color_border_messageYellow: black;


$color_bg_player_computer: lightcoral;
$color_bg_player_you: green;

$color_bg_button_new_game: lightcoral;
$color_border_button_new_game: white;